*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.2rem;
    background: linear-gradient(to top left, rgb(17, 17, 18), rgb(32, 23, 33),
    rgb(47, 29, 48), rgb(62, 34, 63), rgb(77, 40, 78), rgb(92, 46, 93), rgb(106, 52, 109),
    rgb(121, 58, 124), rgb(136, 64, 139), rgb(151, 69, 154), rgb(166, 75, 169), rgb(181, 81, 184));
    color: white;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(121, 58, 124);
}
.no-scroll{
    overflow-y: hidden;
}
