.header{
    text-transform: uppercase;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.header h1{
    flex-basis: 100%;
    font-size: 1.3rem;
    line-height: 2.5;
    text-align: center;
}
.menu_button{
    background: rgb(151, 69, 154);
    width: 50px;
    height: 50px;
    padding: 5px;
    position: relative;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    transition: box-shadow .15s ease-in-out;
    outline: none;
}
.menu_button:hover{
    box-shadow: 0 0 5px black;
}
.menu_button span{
    display: block;
    width: 100%;
    background: #000;
    height: 3px;
    margin: 5px 0;
}
