.footer{
    padding: 20px 20px 45px 20px;
    background: #101010;
}
.footer a{
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .15s ease;
}
.footer a:hover{
    border-bottom-color: white;
}